<% layout('layouts/boilerplate') %>

<div class="container add-listing-form"> 
    <h3>Update Post</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation">
        
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="title" value="<%= listing.title %>" required />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" required><%= listing.description %></textarea>
        </div>

        <div class="form-group">
            <label for="image">Image URL</label>
            <input type="text" class="form-control" name="image" value="<%= listing.image.url %>" required />
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="number" class="form-control" name="price" value="<%= listing.price %>" required />
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" name="country" value="<%= listing.country %>" required />
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" name="location" value="<%= listing.location %>" required />
        </div>

        <button type="submit" class="btn btn-primary">Submit to Update</button>
    </form>
</div>

<script>
    (() => {
        'use strict'
        const forms = document.querySelectorAll('.needs-validation')
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }
                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
